body{
    background-image: url("../image/pexels-ann-h-1762851.jpg");
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover ;

}
p{
    text-align: justify;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.h{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.li{
    text-align: justify;
    font-family: monospace;
    text-size-adjust: x large;
}
