body{
    background-color: rgba(26, 197, 219, 0.747);
    text-align: left;
}
p{
    text-align: justify;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.h{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-shadow: black;
}
.li{
    text-align: justify;
    font-family: monospace;
    text-size-adjust: x large;
}
